.component {
  margin-bottom: 20vh;
  flex-direction: row;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}
.imgContainer img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  transition: filter 0.2s;
}
.colorFilter {
  background-color: var(--blue-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  z-index: +1;
  transition: opacity 0.2s;
}
.imgContainer:hover .colorFilter {
  opacity: 0;
}
.imgContainer:hover img {
  filter: grayscale(0);
}
.content {
  width: 50%;
  margin-left: 4%;
}
.title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.title span {
  background: -webkit-linear-gradient(
    80deg,
    #0d6efd 0%,
    #2250f4 63.74%,
    #5d0ec4 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.paragraph {
  margin: 20px 0;
  text-align: justify;
}
@media screen and (max-width: 1000px) {
  .content {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
  }
  .content {
    width: 80%;
    margin-left: 0;
  }
  .imgContainer {
    margin-top: 50px;
  }
}
@media screen and (max-width: 600px) {
  .content {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .imgContainer {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 350px) {
  .title {
    display: flex;
    flex-direction: column;
    line-height: 30px;
  }
}
