.component {
  background-color: var(--blue-color);
  padding-top: 0;
  position: relative;
  min-height: 50vh;
  padding-top: 50px;
}
.sendMsgBlock {
  position: absolute;
  top: -80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  background-color: var(--dark-bg-color);
  color: white;
  border-radius: 15px;
  padding: 60px;
}
.title {
  font-size: 30px;
  font-weight: 700;
}
.description {
  text-align: center;
  font-size: 13px;
}
.sendMsgBlock a {
  border-radius: 7px;
  font-weight: 500;
  padding: 8px 20px;
  text-decoration: none;
  background: var(--gradient-bg);
  color: white;
}
.links {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  font-size: 14px;
}
.socialMedias {
  display: flex;
  margin-bottom: 20px;
}
.socialMedias a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  transition: background-color .2s, color .2s;
}
.socialMedias svg {
  width: 20px;
  height: 20px;
}
.socialMedias .github {
  width: 23px;
  height: 23px;
}
.socialMedias path {
  fill: white;
  transition: fill .2s;
}
.socialMedias a:hover {
  color: var(--blue-color);
  background-color: white;
}
.socialMedias a:hover path {
  fill: var(--blue-color);
}
.footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
  font-family: 'roboto mono', 'poppins', sans-serif;
  opacity: .5;
}
.footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.footer svg {
  width: 13px;
  height: 13px;
  margin-left: 3px;
}
.footer a {
  color: white;
}
@media screen and (max-width: 1200px) {
  .sendMsgBlock {
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .sendMsgBlock {
    width: calc(100% - 120px - 50px);
  }
}
@media screen and (max-width: 900px) {
  .sendMsgBlock {
    width: fit-content;
  }
  .title {
    display: none;
  }
  .description {
    margin-right: 70px;
  }
  .footer {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 700px) {
  .sendMsgBlock {
    padding: 50px;
  }
  .description {
    margin-right: 50px;
  }
}
@media screen and (max-width: 650px) {
  .sendMsgBlock {
    flex-direction: column;
    top: -110px;
  }
  .description {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .sendMsgBlock a {
    width: calc(100% - 40px);
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .sendMsgBlock {
    padding: 30px;
    top: -85px;
  }
  .description {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 340px) {
  .sendMsgBlock {
    padding: 20px;
  }
  .description {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 300px) {
  .component {
    padding-top: 0;
  }
  .sendMsgBlock {
    display: none;
  }
}