.sectionDescription {
  text-align: center;
  margin: 10vh 50px 20vh;
}
.experienceList {
  width: 50%;
}
.component {
  padding-top: 0;
}
.experienceHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--blue-color);
  width: 100%;
  color: white;
  padding: 70px 0 100px;
}
.experienceList {
  position: relative;
  top: -100px;
}
.experience {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  text-decoration: none;
}
.hasLink {
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
}
.experience img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.titleAndDuration {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 5px;
}
.duration {
  font-size: 14px;
  opacity: .4;
  margin-top: -5px;
  font-family: 'roboto mono', 'poppins', sans-serif;
}
.description {
  margin: 20px 0;
  text-align: justify;
  white-space: pre-line;
  font-size: 14px;
}
@media screen and (max-width: 1000px) {
  .experienceList {
    width: 70%;
  }
}
@media screen and (max-width: 600px) {
  .experienceList {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .experience {
    padding: 30px;
  }
  .sectionDescription {
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .sectionDescription {
    text-align: justify;
    margin: 50px 50px 100px;
  }
  .experience img {
    align-self: start;
  }
}
@media screen and (max-width: 300px) {
  .title {
    font-size: 20px;
  }
}