.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background-color: white;
  padding: 0 20px;
  width: calc(100% - 40px);
  height: 70px;
  z-index: +2;
}
.hambContainer {
  height: 35%;
  display: none;
  cursor: pointer;
}
.links {
  display: flex;
  margin-left: 5%;
}
.links a {
  padding: 0 3px;
  margin: 0 20px;
  text-decoration: none;
}
.resumeBtn a {
  display: flex;
  align-items: center;
  background-color: var(--light-blue-color);
  padding: 5px 12px;
  border-radius: 7px;
  text-decoration: none;
  color: var(--blue-color);
}
.animContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.devVersion {
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  user-select: none;
}
.devVersion p {
  background-color: var(--light-blue-color);
  border-radius: 5px;
  color: var(--blue-color);
  padding: 3px 10px;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .hambContainer {
    display: block;
  }
  .devVersion {
    left: 80px;
  }
  .links {
    position: inherit;
    bottom: 0;
    left: -350px;
    width: 350px;
    height: calc(100vh - 70px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 1px 0 1px #e6ecf8;
    margin-left: 0;
    transition: left .5s ease-in-out;
  }
  .links.deployed {
    left: 0;
  }
  .links a {
    width: 50%;
    margin: 10px 0;
    padding: 5px 0;
  }
  .resumeBtn {
    position: absolute;
    right: 10px;
  }
}