.container {
  width: inherit;
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.container h2 {
  position: absolute;
  font-size: 60px;
  color: white;
}
.titleShadow {
  color: white;
  opacity: .05;
  font-size: 130px;
  font-weight: 700;
  white-space: pre;
}
@media screen and (max-width: 500px) {
  .container h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 400px) {
  .container h2 {
    font-size: 40px;
  }
}